<div
  class="bg-zinc-900 flex justify-evenly py-10 flex-col text-center gap-4 md:flex-row md:text-left"
>
  <div class="footer-col">
    <h4 class="font-bold">Site Map</h4>
    485 Essex Court<br />
    South Burlington<br />
    Mobile No: 802-505-1847
  </div>
  <div class="footer-col">
    <h4 class="font-bold">Ubicacion</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.7404510958727!2d-70.74377404895014!3d-33.351729980708086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c095445445dd%3A0x136a5441ba51ba2c!2sBergantin%20Oriente%2065%2C%208732068%20Santiago%2C%20Quilicura%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1678652097470!5m2!1ses!2scl" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="footer-col">
    <h4 class="font-bold">Contacto</h4>
    <ul>
      <li><a href="https://www.linkedin.com/in/christian-diaz-avila">Linkedin</a></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <a href="https://www.linkedin.com/in/christian-diaz-avila">Linkedin</a>
    <a href="/">ch.diazavila@gmail.com</a>
    <a href="/">Instagram</a>
    <a href="/">Reddit</a>
  </div>
</div>
