<div
  class="bg-zinc-900 flex justify-evenly py-10 flex-col text-center gap-4 md:flex-row md:text-left"
>
  <div class="footer-col">
    <h4 class="font-bold">Site Map</h4>
    <a href="../onepiece">Onepiece</a><br />
    South Burlington<br />
    Mobile No: 802-505-1847
  </div>
  <div class="footer-col">
    <h4 class="font-bold">Ubicacion</h4>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106643.78580041391!2d-70.81064894443348!3d-33.35492033936511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c0e50f3ed0ff%3A0x78c1e18cf8e3ebd0!2sQuilicura%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1678671356850!5m2!1ses!2scl" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>
  <div class="footer-col">
    <h4 class="font-bold">Contacto</h4>
    <ul>
      <li><a href="https://www.linkedin.com/in/christian-diaz-avila">Linkedin</a></li>
      <li><a href="https://www.instagram.com/chada.tanque/">Instagram</a></li>
      <li> <h4>ch.diazavila@gmail.com</h4> </li>
      <li><h4>+56999541063</h4></li>
    </ul>
  </div>
</div>
