---
import Layout from '../../layouts/Layout.astro'
---

<Layout pageTitle="Inicio" pageDescription="Este es el portafolio web de Christian Diaz">
	<h1>Bienvenido al portal de Publicaciones</h1>
	

	<a class="underline" href="/blog/post/notas">Mi primera Publicacion</a>
</Layout>
