---
import Layout from '../components/Layout.astro'
---

<Layout pageTitle="Inicio" pageDescription="Este es el portafolio web de Christian Diaz">
	<h1>Bienvenido a mi portafolio</h1>
	<p>este es el portafolio de christian</p>
</Layout>