---
import Layout from '../layouts/Layout.astro'
import bgImage from '../images/code.jpg'
---

<Layout pageTitle="Inicio" pageDescription="Este es el portafolio web de Christian Diaz">

	<div class="p-4 mb-3 flex justify-center">
		Bienvenido a mi portafolio
		<br>
		Este es el portafolio de Christian
	</div>

	
	<div class="p-4 mb-3 flex flex-row place-content-center">

		<img class="w-auto h-64 mx-1" src={bgImage} alt="">
		
	</div>
	<br>

	<div class=" p-4 mb-3 flex flex-row place-content-center">
		<a href="https://www.flow.cl/btn.php?token=gnweng3" target="_blank">
		  <button class="px-4 py-2 font-semibold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 ease-in-out">DONACIONES</button>
		</a>
		<a href="/blog/" target="_blank">
			<button class="px-4 py-2 font-semibold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 ease-in-out">Publicaciones</button>
		</a>
	</div>
	<br><br><br><br><br>

	

	

</Layout>