---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <div class="grid  gap-4 place-content-center">

        <img src="https://i.blogs.es/259581/one-piece/1366_2000.jpeg" alt="">
    </div>
    


</Layout>